<section class="nav_section">
  <div class="logo_main mb-4 pl-5">
    <img src="./assets/logo.svg" />
  </div>

  <div class="nav_bar pl-5">
    <ul>
      <li *ngFor="let item of sportList" (click)="selectSport(item.strSport)" class="active">{{ item.strSport }}</li>
    </ul>
  </div>
</section>

<!-- teams section -->

<section class="teams_section px-5 mt-5">
  <div class="row">
    <div class="col-lg-9">
      <h3>Teams</h3>
      <div class="card mb-3 custom_card_border"
        *ngFor="let league of filterLeagueList.slice(0, offset + limit);let i=index">
        <div class="card-header custom_header">{{league.strLeague}}</div>
        <div class="card-body text-secondary body_bg_image">
          <div class="sub_cards_main">
            <div class="flex_SubCards">
              <!-- cards -->
              <div class="sub_card_width" *ngFor="let item of teamsListFilters[i]">
                <div class="sub_card flex items-center">
                  <img width="50" [src]="item.strTeamBadge" />
                  <p>{{item.strTeam}}</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="news_block">
        <div class="body_card_custom">
          <h4 class="news_heading">RELATED NEWS</h4>
          <hr />
          <div class="video-card">
            <div class="custom_source_card">
              <img src="./assets/video.png" />
              <button type="button" class="play-button_news">
                <i class="fa fa-play" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <h3 class="news_heading_lower mt-3">A quick Brown Fox Jumps over</h3>
        </div>
        <div class="body_card_custom mt-4">
          <h4 class="news_heading">RELATED NEWS</h4>
          <hr />
          <div class="video-card">
            <div class="custom_source_card">
              <img src="./assets/video.png" />
              <button type="button" class="play-button_news">
                <i class="fa fa-play" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <h3 class="news_heading_lower mt-3">A quick Brown Fox Jumps over</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="load_btn_main">
    <button class="btn load_more" (click)="loadMore()" *ngIf="hasMore">Load More</button>
  </div>
</section>

<footer class="footer_main px-5 pb-5 mt-5">
  <div class="footer_blocks">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="form_heading">Sign In</h3>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
          <div class="form-group form_inputs_width">
            <label>E-Mail</label>
            <input type="text" class="form-control custom_input" placeholder="E-Mail" formControlName="email" />
            <small class="text-danger" *ngIf="loginForm.get('email')?.invalid && isSubmitted">E-mail is required</small>
            <i class="fa fa-envelope icon_position" aria-hidden="true"></i>
          </div>
          <div class="form-group form_inputs_width">
            <label>Password</label>
            <input type="text" class="form-control custom_input" placeholder="Password" formControlName="password" />
            <small class="text-danger" *ngIf="loginForm.get('password')?.invalid && isSubmitted">Password is
              required</small>

            <i class="fa fa-lock icon_position" aria-hidden="true"></i>
          </div>

          <div class="form-group form_inputs_width">
            <button class="btn btn-primary btn-sm login_btn">Log IN</button>
          </div>

          <div class="form-group form_inputs_width">
            <label>Don't have account?</label>
            <p class="sign_up_text">Sign Up</p>
          </div>
        </form>
      </div>
      <div class="col-lg-3">
        <ul class="common_pages">
          <li>About Us</li>
          <li>Privacy</li>
          <li>Terms & Conditions</li>
          <li>Contact Us</li>
          
        </ul>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</footer>